In [22]:
%matplotlib inline

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import linregress
import plotly.graph_objects as go

In [23]:
# Display the data
life_expectancy = Path("output/csv/life_expectancy.csv")
life_expectancy_df = pd.read_csv(life_expectancy)
gdp_file = Path("output/csv/final_gdp.csv")
gdp_file_df = pd.read_csv(gdp_file)
health_expend = Path("output/csv/OECD_Health_Expenditure.csv")
health_expend_df = pd.read_csv(health_expend)
world_bank = Path("output/csv/cleaned_world_bank_dataset.csv")
world_bank_df = pd.read_csv(world_bank)
gbp_data = Path("output/csv/cleaned_gbp_dataset.csv")
gbp_data_df = pd.read_csv(gbp_data)
display(life_expectancy_df)
display(gdp_file_df)
display(health_expend_df)
display(world_bank_df)
display(gbp_data_df)

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years)
0,WORLD,1950,46.5,2499322,World,1245363.0,1253959.0,44.6,48.4
1,WORLD,1951,47.1,2543130,World,1267473.0,1275657.0,45.4,49.0
2,WORLD,1952,48.2,2590271,World,1291400.0,1298871.0,46.6,49.9
3,WORLD,1953,48.8,2640279,World,1316659.0,1323620.0,47.2,50.4
4,WORLD,1954,49.6,2691979,World,1342923.0,1349056.0,48.0,51.2
...,...,...,...,...,...,...,...,...,...
20587,Wallis and Futuna Islands,2017,77.5,12,Country/Area,6.0,6.0,77.1,78.0
20588,Wallis and Futuna Islands,2018,77.9,12,Country/Area,6.0,6.0,76.4,79.5
20589,Wallis and Futuna Islands,2019,79.6,12,Country/Area,6.0,6.0,78.6,80.6
20590,Wallis and Futuna Islands,2020,78.8,12,Country/Area,6.0,6.0,77.7,79.8
20591,Wallis and Futuna Islands,2021,78.4,12,Country/Area,6.0,6.0,77.1,79.9

,countrycode,Country,Region,Year,GDP per Capita,pop
0,AFG,Afghanistan,South and South East Asia,1,NaN,NaN
1,AFG,Afghanistan,South and South East Asia,730,NaN,NaN
2,AFG,Afghanistan,South and South East Asia,1000,NaN,NaN
3,AFG,Afghanistan,South and South East Asia,1090,NaN,NaN
4,AFG,Afghanistan,South and South East Asia,1150,NaN,NaN
...,...,...,...,...,...,...
131139,ZWE,Zimbabwe,Sub Saharan Africa,2018,1900.0,14097.0
131140,ZWE,Zimbabwe,Sub Saharan Africa,2019,1753.0,14345.0
131141,ZWE,Zimbabwe,Sub Saharan Africa,2020,1586.0,14615.0
131142,ZWE,Zimbabwe,Sub Saharan Africa,2021,1687.0,14900.0
131143,ZWE,Zimbabwe,Sub Saharan Africa,2022,1704.0,15205.0

      Country      Measure    Unit of Measure  Year  Health Expenditure
0      Brazil  Expenditure  Percentage of GDP  2005               8.035
1       India  Expenditure  Percentage of GDP  2003               4.134
2       India  Expenditure  Percentage of GDP  2002               4.373
3     Belgium  Expenditure  Percentage of GDP  2013              10.575
4       India  Expenditure  Percentage of GDP  2009               3.594
...       ...          ...                ...   ...                 ...
1856   Brazil  Expenditure  Percentage of GDP  2010               7.945
1857   Brazil  Expenditure  Percentage of GDP  2009               8.395
1858   Brazil  Expenditure  Percentage of GDP  2008               8.011
1859   Brazil  Expenditure  Percentage of GDP  2007               8.202
1860   Brazil  Expenditure  Percentage of GDP  2006               8.250

[1861 rows x 5 columns]

,country name,country code,year,adjusted savings: education expenditure (current us$),current health expenditure (% of gdp),domestic credit to private sector (% of gdp),gdp (constant 2015 us$),labor force with advanced education (% of total working-age population with advanced education),labor force with intermediate education (% of total working-age population with intermediate education),labor force with basic education (% of total working-age population with basic education),market capitalization of listed domestic companies (% of gdp),military expenditure (% of gdp),out-of-pocket expenditure (% of current health expenditure),research and development expenditure (% of gdp),"stocks traded, total value (% of gdp)"
0,Australia,AUS,1960,NaN,NaN,19.116355,2.045527e+11,NaN,NaN,NaN,NaN,2.369545,NaN,NaN,NaN
1,Australia,AUS,1961,NaN,NaN,17.629453,2.096310e+11,NaN,NaN,NaN,NaN,2.415140,NaN,NaN,NaN
2,Australia,AUS,1962,NaN,NaN,18.647403,2.123441e+11,NaN,NaN,NaN,NaN,2.363695,NaN,NaN,NaN
3,Australia,AUS,1963,NaN,NaN,19.283486,2.255442e+11,NaN,NaN,NaN,NaN,2.446635,NaN,NaN,NaN
4,Australia,AUS,1964,NaN,NaN,20.111524,2.412882e+11,NaN,NaN,NaN,NaN,2.648243,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,United States,USA,2019,9.645020e+11,16.665806,194.903442,2.013669e+13,73.125,57.359,42.186,158.380660,3.434568,11.308306,3.17049,168.865978
2172,United States,USA,2020,9.515541e+11,18.756220,218.654623,1.969097e+13,71.640,55.474,41.018,194.953615,3.696010,9.931046,3.46777,192.686572
2173,United States,USA,2021,1.046599e+12,17.362568,221.129332,2.083309e+13,71.375,55.481,41.762,205.766188,3.457977,10.700169,3.45705,194.431149
2174,United States,USA,2022,NaN,16.571152,189.793750,2.123631e+13,71.780,56.076,42.572,156.532828,3.454920,NaN,NaN,172.139937
2175,United States,USA,2023,NaN,NaN,194.946427,2.177628e+13,71.866,56.415,44.161,NaN,NaN,NaN,NaN,NaN

,location,year,Alcohol use disorders,Cardiovascular diseases,Diabetes mellitus,Liver cancer due to alcohol use,Motor vehicle road injuries,Opioid use disorders,Police conflict and executions,Road injuries,Self-harm,"Tracheal, bronchus, and lung cancer"
0,Australia,1980,224.640827,53175.420093,1653.097958,74.913434,2254.190078,127.520326,2.108937,3650.419375,1746.699803,5293.914876
1,Australia,1981,201.375438,53519.112787,1686.202270,94.786014,2045.041012,137.103994,2.511270,3546.024686,1766.705496,5405.440354
2,Australia,1982,202.209596,53790.303828,1660.396011,89.814276,2108.075231,167.695152,2.992388,3456.007451,1804.678951,5527.492269
3,Australia,1983,199.414824,52886.554707,1725.082632,94.982144,1954.825946,197.186626,3.760895,3178.641691,1814.903926,5614.889254
4,Australia,1984,219.721324,53371.722621,1850.495453,103.952826,1954.861215,224.345417,4.648462,3152.437840,1884.354769,5730.540582
...,...,...,...,...,...,...,...,...,...,...,...,...
1507,United States of America,2017,16447.213615,870014.594907,68023.019190,6521.645578,29072.563739,45323.057374,1182.453872,43311.226390,51264.771154,172205.186019
1508,United States of America,2018,16881.662205,874704.259786,69243.158362,6842.077243,28301.510359,47371.011599,1166.479287,42451.281976,51762.833329,168804.579530
1509,United States of America,2019,17468.451200,880826.245325,71201.256403,7109.802427,27881.005935,50031.617474,1174.843121,41975.079605,51357.018236,167925.872553
1510,United States of America,2020,17342.695548,887324.919965,72130.507793,7371.063919,27682.805304,52561.060543,1118.220151,41612.775573,50982.047075,170317.701686
1511,United States of America,2021,17300.933653,905653.064300,74017.278108,7405.873087,27577.240531,55451.968230,1089.792998,41371.804169,50715.835465,175479.668947

In [24]:
# Merging Life Expentancy and GDP file on Country and Year
combined_le_gdp = pd.merge(life_expectancy_df, gdp_file_df, on=["Country","Year"] , how="left") 
combined_le_gdp

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,Region,GDP per Capita,pop
0,WORLD,1950,46.5,2499322,World,1245363.0,1253959.0,44.6,48.4,NaN,NaN,NaN,NaN
1,WORLD,1951,47.1,2543130,World,1267473.0,1275657.0,45.4,49.0,NaN,NaN,NaN,NaN
2,WORLD,1952,48.2,2590271,World,1291400.0,1298871.0,46.6,49.9,NaN,NaN,NaN,NaN
3,WORLD,1953,48.8,2640279,World,1316659.0,1323620.0,47.2,50.4,NaN,NaN,NaN,NaN
4,WORLD,1954,49.6,2691979,World,1342923.0,1349056.0,48.0,51.2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20587,Wallis and Futuna Islands,2017,77.5,12,Country/Area,6.0,6.0,77.1,78.0,NaN,NaN,NaN,NaN
20588,Wallis and Futuna Islands,2018,77.9,12,Country/Area,6.0,6.0,76.4,79.5,NaN,NaN,NaN,NaN
20589,Wallis and Futuna Islands,2019,79.6,12,Country/Area,6.0,6.0,78.6,80.6,NaN,NaN,NaN,NaN
20590,Wallis and Futuna Islands,2020,78.8,12,Country/Area,6.0,6.0,77.7,79.8,NaN,NaN,NaN,NaN
20591,Wallis and Futuna Islands,2021,78.4,12,Country/Area,6.0,6.0,77.1,79.9,NaN,NaN,NaN,NaN

In [25]:
# Merging Life Expentancy,GDP file with Health Expenditure file on Country and Year
combined_le_gdp_he = pd.merge(combined_le_gdp, health_expend_df, on=["Country","Year"] , how="left") 
combined_le_gdp_he

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,Region,GDP per Capita,pop,Measure,Unit of Measure,Health Expenditure
0,WORLD,1950,46.5,2499322,World,1245363.0,1253959.0,44.6,48.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WORLD,1951,47.1,2543130,World,1267473.0,1275657.0,45.4,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WORLD,1952,48.2,2590271,World,1291400.0,1298871.0,46.6,49.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WORLD,1953,48.8,2640279,World,1316659.0,1323620.0,47.2,50.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WORLD,1954,49.6,2691979,World,1342923.0,1349056.0,48.0,51.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20587,Wallis and Futuna Islands,2017,77.5,12,Country/Area,6.0,6.0,77.1,78.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20588,Wallis and Futuna Islands,2018,77.9,12,Country/Area,6.0,6.0,76.4,79.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20589,Wallis and Futuna Islands,2019,79.6,12,Country/Area,6.0,6.0,78.6,80.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20590,Wallis and Futuna Islands,2020,78.8,12,Country/Area,6.0,6.0,77.7,79.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20591,Wallis and Futuna Islands,2021,78.4,12,Country/Area,6.0,6.0,77.1,79.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Rename useful columns before merging
renamed_wb = world_bank_df.rename(columns={"country name":"Country", "year":"Year"})

# Merging Life Expentancy,GDP,Health Expenditure file with world_bank_df on Country and Year
combined_le_gdp_he_wb = pd.merge(combined_le_gdp_he, renamed_wb, on=["Country","Year"] , how="left") 
combined_le_gdp_he_wb

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,...,domestic credit to private sector (% of gdp),gdp (constant 2015 us$),labor force with advanced education (% of total working-age population with advanced education),labor force with intermediate education (% of total working-age population with intermediate education),labor force with basic education (% of total working-age population with basic education),market capitalization of listed domestic companies (% of gdp),military expenditure (% of gdp),out-of-pocket expenditure (% of current health expenditure),research and development expenditure (% of gdp),"stocks traded, total value (% of gdp)"
0,WORLD,1950,46.5,2499322,World,1245363.0,1253959.0,44.6,48.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WORLD,1951,47.1,2543130,World,1267473.0,1275657.0,45.4,49.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WORLD,1952,48.2,2590271,World,1291400.0,1298871.0,46.6,49.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WORLD,1953,48.8,2640279,World,1316659.0,1323620.0,47.2,50.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WORLD,1954,49.6,2691979,World,1342923.0,1349056.0,48.0,51.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20587,Wallis and Futuna Islands,2017,77.5,12,Country/Area,6.0,6.0,77.1,78.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20588,Wallis and Futuna Islands,2018,77.9,12,Country/Area,6.0,6.0,76.4,79.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20589,Wallis and Futuna Islands,2019,79.6,12,Country/Area,6.0,6.0,78.6,80.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20590,Wallis and Futuna Islands,2020,78.8,12,Country/Area,6.0,6.0,77.7,79.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20591,Wallis and Futuna Islands,2021,78.4,12,Country/Area,6.0,6.0,77.1,79.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Rename useful columns before merging
renamed_gbp = gbp_data_df.rename(columns={"location":"Country", "year":"Year"})
renamed_gbp

# Merging Life Expentancy,GDP,Health Expenditure, world_bank_df file with gbp_data_df on Country and Year to get the FINAL FILE
combined_df = pd.merge(combined_le_gdp_he_wb, renamed_wb, on=["Country","Year"] , how="left") 
combined_df

,Country,Year,Life Expectancy,Population,Type,"Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Male Life Expectancy at Birth (years),Female Life Expectancy at Birth (years),countrycode,...,domestic credit to private sector (% of gdp)_y,gdp (constant 2015 us$)_y,labor force with advanced education (% of total working-age population with advanced education)_y,labor force with intermediate education (% of total working-age population with intermediate education)_y,labor force with basic education (% of total working-age population with basic education)_y,market capitalization of listed domestic companies (% of gdp)_y,military expenditure (% of gdp)_y,out-of-pocket expenditure (% of current health expenditure)_y,research and development expenditure (% of gdp)_y,"stocks traded, total value (% of gdp)_y"
0,WORLD,1950,46.5,2499322,World,1245363.0,1253959.0,44.6,48.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WORLD,1951,47.1,2543130,World,1267473.0,1275657.0,45.4,49.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WORLD,1952,48.2,2590271,World,1291400.0,1298871.0,46.6,49.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WORLD,1953,48.8,2640279,World,1316659.0,1323620.0,47.2,50.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WORLD,1954,49.6,2691979,World,1342923.0,1349056.0,48.0,51.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20587,Wallis and Futuna Islands,2017,77.5,12,Country/Area,6.0,6.0,77.1,78.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20588,Wallis and Futuna Islands,2018,77.9,12,Country/Area,6.0,6.0,76.4,79.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20589,Wallis and Futuna Islands,2019,79.6,12,Country/Area,6.0,6.0,78.6,80.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20590,Wallis and Futuna Islands,2020,78.8,12,Country/Area,6.0,6.0,77.7,79.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20591,Wallis and Futuna Islands,2021,78.4,12,Country/Area,6.0,6.0,77.1,79.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Specify the file path where you want to save the CSV file
csv_file_path = '../output/csv/life_expectancy.csv'

# Write final_df to CSV
final_df.to_csv(csv_file_path, index=False)

print(f"DataFrame successfully written to {csv_file_path}")